@inherits LayoutComponentBase
@using Microsoft.AspNetCore.SignalR.Client;
@inject HubConnection Hub;
@implements IAsyncDisposable;

<div class="page">
    <main>
        <article class="p-2">
            @Body
        </article>
    </main>
</div>

<Toasts class="p-2" AutoHide="true" Delay="5000" Placement="ToastsPlacement.TopRight" />

@code
{
    protected override async Task OnInitializedAsync()
    {
        await Hub.StartAsync();
    }

    public async ValueTask DisposeAsync()
    {
        await Hub.DisposeAsync();
    }
}