@page "/learner"
@implements IDisposable;
@using Microsoft.AspNetCore.SignalR.Client;
@using TicksBlazorWebAssembly.Client.Services;
@inject ToastService ToastService;
@inject NavigationManager Navigation;
@inject BrowserService Browser;
@inject HubConnection Hub;

<PageTitle>Learner</PageTitle>

<h1>Learner Page</h1>

<Button @onclick="RaiseHand" class="btn btn-primary">Raise hand</Button>

@code
{
    protected override async Task OnInitializedAsync()
    {
        await Hub.SendAsync("JoinAsLearner");
    }

    async Task RaiseHand()
    {
        string browserId = await Browser.GetBrowserId();
        await Hub.SendAsync("RaiseHand", browserId);
    }

    public async void Dispose()
    {
        Hub.Remove("LearnerHasRaisedHand");
        await Hub.SendAsync("Leave");
    }
}
