@page "/tutor"
@using Microsoft.AspNetCore.SignalR.Client;
@using TicksBlazorWebAssembly.Client.Services;
@implements IAsyncDisposable;
@inject NavigationManager Navigation;
@inject ToastService ToastService;
@inject BrowserService Browser;
@inject HubConnection Hub;

<PageTitle>Tutor</PageTitle>

<h1>Tutor Page</h1>

@code {
    protected override async Task OnInitializedAsync()
    {
        Hub.On<string>("LearnerHasRaisedHand", async (browserId) =>
        {
            await Browser.PlayBeep();
            ToastService.Notify(new ToastMessage(ToastType.Danger, $"A learner ({browserId}) raised their hand!"));
        });

        await Hub.SendAsync("JoinAsTutor");
    }

    public async ValueTask DisposeAsync()
    {
        await Hub.SendAsync("Leave");
    }
}
