@page "/tutor"
@using Microsoft.AspNetCore.SignalR.Client;
@inject NavigationManager Navigation;
@inject ToastService ToastService;
@inject IJSRuntime JS;
@implements IAsyncDisposable;

<PageTitle>Tutor</PageTitle>

<h1>Tutor Page</h1>

@code {
    private HubConnection? hubConnection;

    private async Task playBeep()
    {
        await JS.InvokeVoidAsync("playBeep");
    }

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/roomhub"))
            .Build();

        hubConnection.On<string>("LearnerHasRaisedHand", async (learnerId) =>
        {
            await playBeep();
            ToastService.Notify(new ToastMessage(ToastType.Danger, $"A learner ({learnerId}) raised their hand!"));
        });

        await hubConnection.StartAsync();
        await hubConnection.SendAsync("JoinAsTutor");
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
